*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

#active{
    color: #FF7A18;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border-radius: 10px;
    background: #FF7A18;
    padding: 10px 30px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}

@media (max-width: 1600px) {
    .grid, .dish-grid  {
        grid-template-columns: repeat(3, 1fr);
    }

    
}




/* Navbar */
.navbar{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 48px;
}

.navbar h1{
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-size: 40px;
    color: #FF7A18;
}

.navbar h1 a{
    text-decoration: none;
    color: #FF7A18;
}


.nav-links{
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.nav-links a:hover{
    color: #FF7A18;
    transition: 0.3s;
}

/* Hero Section */
.hero{
    background-image: url(/resources/bg2.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 48px; 
    gap: 30px;   
    color: #fff;
    position: relative;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.hero-text{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}

.hero h2{
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
}


.hero p{
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
}

.search-bar{
    display: flex;
    gap: 10px;
    z-index: 2;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.search-bar a{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: grey;
    font-size: 30px;
    text-decoration: none;
}

.search-input{
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    width: 1500px;
    display: flex;
    align-items: center;
}



.search-input::placeholder{
    color: black;
    font-weight: 600;
    font-size: 20px;
    font-family: "Inter", sans-serif;    
}

/* Popular Dishes */
.dishes{
    padding: 137px 55px;
    background: #F3F4F6;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.dishes h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
}

.dish-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.dish-card{
    background: white;
    /* padding: 20px; */
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: 393px;
    margin: 0 auto;
}

.dish-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.dish-card h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}


/* Special Dishes */
.special-card{
    background: white;
    border-radius: 10px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 487px;
    margin: 0 auto;
}

.special-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-text h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.card-text p{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.add-to_cart{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.add-to_cart p{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FF7A18;
}

/* Addition Section  */
.addition{
    background: url(resources/bg3.png) no-repeat ;
    background-size: cover;
    background-position: center;
    padding: 164px 48px;
    position: relative;
}

.addition::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

.addition-inside{
    max-width: 1344px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    color: white;
}

.addition-inside h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
}

.addition-inside p{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    width: 700px;
}

/* Footer */
.footer{
    background: #62422e;
    padding: 69px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-top{
    display: flex;
    gap: 200px;
}

.footer-logo{
    width: 229.25px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.footer-logo h2 a{
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-size: 37px;
    color: #FF7A18;
    text-decoration: none;
}

.footer-logo p{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

.quick-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quick-links h2{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

.quick-items{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quick-items li a{
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    opacity: 75%;
}

.contact-us{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.contact-us h2{
    font-family: "Jost",sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.contact-us p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    opacity: 75%;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.socials h2{
    font-family: "Jost",sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.social-links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-links li a{
    text-decoration: none;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    opacity: 75%;
}

.footer-bottom{
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    opacity: 65%;
}

/* Menu page */

/* Menu Hero */
.menu-hero{
    background: url(resources/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 48px;
    position: relative;
}

.menu-hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.menu_hero-text{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
}

.menu_hero-text h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
}

.menu_hero-text p{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}

/* Menu Categories */
.menu-categories{
    padding: 82px 38px;
    background: #F3F4F6;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.categories{
    padding: 26px;
    background: white;
    border-radius: 14px 14px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.categories h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 5px;
}

.categories a{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-decoration: none;
    color: black;
}

.popular_text{
    background: #FFE1C4;
    height: 56px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: -26px;
    margin-right: -26px;
    padding-left: 26px;
    border-left: 5px solid #FF7A18;
}

.menu-card{
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 10px; */
    position: relative;
    height: 465.75px;
    width: 100%;
}

.menu-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}





.popular_category{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popular_category h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
}

.card-text{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.card-text p{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    max-width: 500px;
}

.add-btn{
    background: #FF7A18;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding: 20px;
}

.menu-items{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.jollof-entry{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.swallow{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width:900px){
    .grid, .dish-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .search-input{
        width: 700px;
    }
}

@media (max-width: 600px) {
    .grid, .dish-grid {
        grid-template-columns: 1fr;
    }

    .search-input {
        width: 300px;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-input::placeholder{
        font-size: 12px;
    }

    .search-bar a{
        font-size: 20px;
    }

    .footer{
        display: none;
    }
}